
<div class="row">
    <div class="col-4" routerLink="/frutas">
        <app-tag-p texto="Frutas" image="assets/img/frutas/frutas.jpg"></app-tag-p>
    </div>
    <div class="col-4" routerLink="/animais">
        <app-tag-p texto="Animais" image="assets/img/animais/animais.jpg"></app-tag-p>
    </div>
    <div class="col-4" routerLink="/familia">
        <app-tag-p texto="Familia" image="assets/img/familia/familia.jpg"></app-tag-p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        
    </div>
    <div class="col-4">
        
    </div>
    <div class="col-4">
        
    </div>
</div>
